.DS_Store
.cache/
.cjpm_test_tmp*/
target/
.vscode/

examples/*/target/
examples/*
!examples/aes-bench/
!examples/aes-bench/**
examples/aes-bench/target/
examples/aes-bench/target/**
!examples/phase1-demo/
!examples/phase1-demo/**
!examples/handshake-interface-demo/
!examples/handshake-interface-demo/**
examples/handshake-interface-demo/target/
examples/handshake-interface-demo/target/**

_helper/
benchmarks/
bridges/
